apps/g20-pulse/n8n-workflow-g20-pulse.json
{
  "name": "G20 Pulse — Automatisation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 6 * * *"
            }
          ]
        }
      },
      "id": "51e4c66d-2c3d-4aeb-847c-2e203a77ec33",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [-600, 300]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {code: 'AR', name: 'Argentine', query: 'Argentina'},\n  {code: 'AU', name: 'Australie', query: 'Australia'},\n  {code: 'BR', name: 'Brésil', query: 'Brazil'},\n  {code: 'CA', name: 'Canada', query: 'Canada'},\n  {code: 'CN', name: 'Chine', query: 'China'},\n  {code: 'FR', name: 'France', query: 'France'},\n  {code: 'DE', name: 'Allemagne', query: 'Germany'},\n  {code: 'IN', name: 'Inde', query: 'India'},\n  {code: 'ID', name: 'Indonésie', query: 'Indonesia'},\n  {code: 'IT', name: 'Italie', query: 'Italy'},\n  {code: 'JP', name: 'Japon', query: 'Japan'},\n  {code: 'MX', name: 'Mexique', query: 'Mexico'},\n  {code: 'RU', name: 'Russie', query: 'Russia'},\n  {code: 'SA', name: 'Arabie Saoudite', query: 'Saudi Arabia'},\n  {code: 'ZA', name: 'Afrique du Sud', query: 'South Africa'},\n  {code: 'KR', name: 'Corée du Sud', query: 'South Korea'},\n  {code: 'TR', name: 'Turquie', query: 'Turkey'},\n  {code: 'GB', name: 'Royaume-Uni', query: 'United Kingdom'},\n  {code: 'US', name: 'États-Unis', query: 'United States'},\n  {code: 'EU', name: 'Union Européenne', query: 'European Union'}\n].map(c => ({json: c}));"
      },
      "id": "c4e1c1ef-ca37-441c-b21f-0bdabd70d056",
      "name": "Set — Liste des pays G20",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [-380, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "anthropic-version", "value": "2023-06-01" },
            { "name": "content-type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"claude-sonnet-4-20250514\",\n  \"max_tokens\": 4000,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Tu es un agrégateur d'actualités expert. Pour le pays \\\"{{ $json.name }}\\\" ({{ $json.query }}), identifie les 5 actualités les plus importantes des dernières 24h ({{ $now.format('yyyy-MM-dd') }}). Critères : 1) Crises majeures 2) Décisions politiques/économiques 3) Tech/industrie 4) Diplomatie 5) Société. Retourne UNIQUEMENT un tableau JSON valide : [{\\\"title\\\":\\\"...\\\",\\\"summary\\\":\\\"résumé 150-200 mots\\\",\\\"category\\\":\\\"Politique|Économie|Technologie|Société|Environnement|Sécurité|Diplomatie|Culture\\\",\\\"youtube_query\\\":\\\"requête YouTube en anglais max 8 mots\\\",\\\"youtube_video_id\\\":\\\"\\\",\\\"source\\\":\\\"Reuters|AFP|etc\\\",\\\"date\\\":\\\"YYYY-MM-DD\\\",\\\"importance\\\":1,\\\"tags\\\":[\\\"tag1\\\",\\\"tag2\\\",\\\"tag3\\\"]}]\"\n    }\n  ]\n}",
        "options": {
          "batching": {
            "batch": { "batchSize": 1, "batchInterval": 15000 }
          }
        }
      },
      "id": "c929bd7d-43fe-4fda-889d-fee942b17625",
      "name": "HTTP Request — Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-140, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Header Auth account"
        }
      },
      "_comment": "Configure le credential 'Header Auth account' avec Name=x-api-key et Value=votre clé Anthropic"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const item = items[i];\n  const content = item.json.content;\n  let textContent = '';\n\n  for (const block of content) {\n    if (block.type === 'text') {\n      textContent += block.text;\n    }\n  }\n\n  const startIdx = textContent.indexOf('[');\n  const endIdx = textContent.lastIndexOf(']');\n  if (startIdx === -1 || endIdx === -1 || endIdx <= startIdx) {\n    continue;\n  }\n\n  let jsonStr = textContent.substring(startIdx, endIdx + 1);\n  jsonStr = jsonStr.replace(/[\\x00-\\x1F\\x7F]/g, (ch) => {\n    if (ch === '\\n' || ch === '\\r' || ch === '\\t') return ch;\n    return ' ';\n  });\n\n  let articles;\n  try {\n    articles = JSON.parse(jsonStr);\n  } catch (e) {\n    try {\n      let fixed = jsonStr;\n      if (!fixed.trim().endsWith(']')) fixed += '\"}]';\n      articles = JSON.parse(fixed);\n    } catch (e2) {\n      continue;\n    }\n  }\n\n  const country = $('Set — Liste des pays G20').all()[i];\n  const countryCode = country ? country.json.code : 'UNKNOWN';\n  const countryName = country ? country.json.name : 'Unknown';\n\n  for (let j = 0; j < articles.length; j++) {\n    results.push({\n      json: {\n        country_code: countryCode,\n        country_name: countryName,\n        article_index: j,\n        ...articles[j]\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "id": "5a70d10c-c5b1-4566-bda3-8ebc63d20049",
      "name": "Code — Parser la réponse Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [80, 300]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "part", "value": "snippet" },
            { "name": "q", "value": "={{ $json.youtube_query }}" },
            { "name": "type", "value": "video" },
            { "name": "order", "value": "date" },
            { "name": "maxResults", "value": "1" },
            { "name": "publishedAfter", "value": "={{ $now.plus({days: -3}).toISO() }}" },
            { "name": "relevanceLanguage", "value": "en" },
            { "name": "key", "value": "=YOUR_YOUTUBE_API_KEY" }
          ]
        },
        "options": {
          "batching": {
            "batch": { "batchSize": 5, "batchInterval": 1000 }
          }
        }
      },
      "id": "a4e1fa2f-1b66-4b00-9e04-c7ed4cdd330b",
      "name": "HTTP Request — YouTube",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [300, 300],
      "_comment": "Remplacer YOUR_YOUTUBE_API_KEY par votre clé YouTube Data API v3"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst parserItems = $('Code — Parser la réponse Claude').all();\nconst aggregated = {};\n\nfor (let i = 0; i < parserItems.length; i++) {\n  const prevData = parserItems[i].json;\n  const ytData = items[i] ? items[i].json : {};\n\n  let videoId = '';\n  let videoTitle = '';\n  let videoThumbnail = '';\n\n  if (ytData.items && ytData.items.length > 0 && !ytData.error) {\n    videoId = ytData.items[0].id.videoId || '';\n    videoTitle = ytData.items[0].snippet.title || '';\n    videoThumbnail = ytData.items[0].snippet.thumbnails?.high?.url || '';\n  }\n\n  const article = {\n    ...prevData,\n    youtube_video_id: videoId,\n    youtube_video_title: videoTitle,\n    youtube_thumbnail: videoThumbnail,\n    youtube_embed_url: videoId ? `https://www.youtube.com/embed/${videoId}` : ''\n  };\n\n  const code = article.country_code || 'UNKNOWN';\n  if (!aggregated[code]) {\n    aggregated[code] = [];\n  }\n  aggregated[code].push(article);\n}\n\nreturn [{ json: { news_data: aggregated, updated_at: new Date().toISOString() } }];"
      },
      "id": "41526f55-65c2-4293-b4b4-de063c97f461",
      "name": "Code — Agrégation finale",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [520, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://YOUR_SUPABASE_REF.supabase.co/rest/v1/g20_news_cache?id=eq.g20_daily_news",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "YOUR_SUPABASE_SERVICE_ROLE_KEY" },
            { "name": "Authorization", "value": "Bearer YOUR_SUPABASE_SERVICE_ROLE_JWT" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {{ JSON.stringify($json.news_data) }},\n  \"updated_at\": \"{{ $json.updated_at }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [740, 300],
      "id": "2fa5af4a-748e-4504-9eab-98395c9f5422",
      "name": "HTTP Request — Supabase",
      "_comment": "Remplacer YOUR_SUPABASE_REF, YOUR_SUPABASE_SERVICE_ROLE_KEY et YOUR_SUPABASE_SERVICE_ROLE_JWT"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Set — Liste des pays G20", "type": "main", "index": 0 }]]
    },
    "Set — Liste des pays G20": {
      "main": [[{ "node": "HTTP Request — Claude API", "type": "main", "index": 0 }]]
    },
    "HTTP Request — Claude API": {
      "main": [[{ "node": "Code — Parser la réponse Claude", "type": "main", "index": 0 }]]
    },
    "Code — Parser la réponse Claude": {
      "main": [[{ "node": "HTTP Request — YouTube", "type": "main", "index": 0 }]]
    },
    "HTTP Request — YouTube": {
      "main": [[{ "node": "Code — Agrégation finale", "type": "main", "index": 0 }]]
    },
    "Code — Agrégation finale": {
      "main": [[{ "node": "HTTP Request — Supabase", "type": "main", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "tags": []
}